<h1>Make a reservation </h1>

<%= link_to 'Book Now', new_restaurant_reservation_path(@restaurant.id) %>

<%= form_for @reservation  do |f| %>

<div class="reservation_form">
  <%= f.label :time %>
  <%= f.time_field :time %>
</div>

<div class="reservation_form">
  <%= f.label :date %>
  <%= f.date_field :date %>
</div>

<div class="reservation_form">
  <%= f.label :no_ppl %>
  <%= f.number_field :no_ppl %>
</div>

<p>
  <%= f.submit %>
</p>

<% end %>
