<%= form_for @reservation, url: {action: "create"} do |f| %>


<div class="reservation_form">
  <%= f.label :no_ppl %>
  <%= f.number_field :no_ppl %>
</div>

<div class="reservation_form">
  <%= f.label :date %>
  <%= f.date_field :date %>
</div>

<div class="reservation_form">
  <%= f.label :time %>
  <%= f.time_field :time %>
</div>

<p>
  <%= f.submit %>
</p>

<% end %>
