<!-- TORONTO SEATS -->
<!-- <% if flash.any? %>
  <% flash.each do |key, value| %>
    <p class="<%= key %>">
   <%= value %>
   </p>
  <% end %>
<% end %>

<p><%=link_to ' Home', root_path %></p>
<p><%=link_to ' New User', new_users_path %></p>
<p><%= link_to ' Login', new_sessions_path %></p> -->


  <div class="nav_backdrop">
    <nav class="reso_nav">
      <input class ="input_box" id="input1" type="text" value="No. of guests">
      <input class ="input_box" id="input1" type="text" value="Time">
      <input class ="input_box" id="input1" type="text" value="Date">
      <input class ="input_box" id="input1" type="text" value="Restaurant">
    </nav>
  </div>

  <section class="top_picks">
    <h2>Top picks</h2>
      <div class="top_container">
        <div class="top_pic_txt">
          <img class="top_pic" src="http://assets.epicurious.com/photos/55f72d733c346243461d496e/master/pass/09112015_15minute_pastasauce_tomato.jpg" alt="Restaurant 1">
          <p><a href="#">Pasta</a></p>
        </div>
        <div class="top_pic_txt">
          <img class="top_pic" src="http://nourishedkitchen.com/wp-content/uploads/2017/03/Screen-Shot-2017-03-01-at-12.04.08-PM-e1488398828222.png" alt="Restaurant 2">
          <p><a href="#">Pho</a></p>
        </div>
        <div class="top_pic_txt">
          <img class="top_pic" src="https://media-cdn.tripadvisor.com/media/photo-s/06/24/b6/57/cluny-bistro.jpg" alt="Restaurant 3">
          <p><a href="#">French</a></p>
        </div>
      </div>
  </section>
