<h2><%= @restaurant.name %></h2>

<img src'<%= @restaurant.website %>'>
<%= @restaurant.description %>

<h3>Address: <%= @restaurant.location %></h3>


<%= link_to 'Book Now', new_restaurant_reservation_path(@restaurant.id) %>
