<h1>Make a reservation </h1>

<%= link_to("Back to Restaurants", "/restaurants") %>

<%= form_for @reservation do |f| %>

<p>
  <%= f.label :time %>
  <%= f.time_field :time %>
</p>

<p>
  <%= f.label :date %>
  <%= f.date_field :date %>
</p>

<div class="reservation_form">
  <%= f.label :no_ppl %>
  <%= f.number_field :no_ppl %>
</div>

<p>
  <%= f.submit %>
</p>

<% end %>
