<h1>Make a reservation </h1>
######
<%= link_to("Back to Restaurants", "/restaurants") %> | <%= link_to("Edit", "/restaurants/#{@restaurant.id}/edit") %>

<%= form_for @reservation do |f| %>

<p>
  <%= f.label :time %>
  <%= f.time_field :time %>
</p>

<p>
  <%= f.label :date %>
  <%= f.date_field :date %>
</p>

<p>
  <%= f.label :party_number %>
  <%= f.number_field :party_number %>
</p>

<p>
  <%= f.submit %>
</p>

<% end %>
