<!DOCTYPE html>
<html>
<head>
  <title>Seatyourself</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://meyerweb.com/eric/tools/css/reset/reset.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Poiret+One|Lora" type="text/css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <title>Toronto Seats</title>
</head>
<body>

  <header>
   <h1 class="logo">Toronto Seats | <span class="header_span">Toronto, ON.</span></h1>
    <nav class="header_nav">

    <%=link_to 'Home', root_path %>
    <%=link_to ' New User', new_users_path %>
    <%= link_to ' Login', new_sessions_path %>
    </nav>
  </header>

  <% if flash.any? %>
<% flash.each do |key, value| %>
<p class="<%= key %>">
<%= value %>
</p>
<% end %>
<% end %>

<% if current_user %>
<p><% link_to ' Home', root_path %></p>
<p> <%= link_to "logout", sessions_path, method: :delete %> </p>

Hello <%= current_user.email %> 
<% else %>

<p><% link_to ' Home', root_path %></p>
<p> <% link_to ' New User', new_users_path %></p>
<p><% link_to ' Login', new_sessions_path %></p>

<!-- You must login to see your credits! -->
<% end %>
<%= yield %>

</body>
<footer class="site-nav">
<div class="copy-right"><p>Copyright &copy; 2017 <=Team Hash-Rocket=></p></div>
</footer>
</html>
